body {
  background-color: #f3e5d8;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 40px 20px;
}

.cajita {
  background: white;
  max-width: 650px;
  margin: auto;
  padding: 30px;
  border-radius: 18px;
}


img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}


h1 {
  color: #3b1f1f;
  margin-bottom: 10px;
}


p {
  color: #555;
  line-height: 1.6;
}

h2 {
  color: #7b2d4f;
  margin-top: 25px;
}

h2 + ul {
  background: #f8e7ef;
  padding: 18px;
  border-radius: 12px;
}


h3, h4, h5 {
  color: #7a3c1c;
  margin-top: 30px;
}


ul, ol {
  padding-left: 22px;
  color: #444;
}

li {
  margin-bottom: 8px;
}


h3, h4 {
  border-top: 1px solid #eee;
  padding-top: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}

td:last-child {
  color: #7a3c1c;
  font-weight: bold;
  text-align: right;
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  color: #777;
}
